@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Oswald:wght@200&family=Roboto&family=Source+Code+Pro&family=Tangerine:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.intro{
  width: 100%;
  height: auto;
  justify-content: center;
}

.navbar {
  width: 100%;
  padding: 10px 0;
  margin-top: 2%;
}

.navbar nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  margin-right: 20px;
}

.navbar nav ul li:last-child {
  margin-right: 50px;
}

.navbar nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}
.navbar nav ul li a:hover{
  color: orange;
}

.infocontainer{
  text-align: center;
  margin-top: 30px;
}

.infocontainer h1{
  font-size: 60px;
  color: #212121;
}

span{
  color: orange; 
}

.infocontainer p{
  color: #555;
  line-height: 22px;
  margin-bottom: 30px;
  font-size: medium;
}

.infocontainer a{
  display: inline-block;
  margin: 10px;
  padding: 12px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background: #212121;
  border-radius: 8px;
  cursor: pointer;
}

.infocontainer a:hover{
  background-color: white;
  color:orange;
  border-style:solid;
}

.hello{
  font-size: 80px;
  font-family: 'Caveat', cursive;
}

.social{
  display: flex;
  justify-content: center;
  margin-top: 17px;
}

.social a{
  font-size: 30px;
  color: orange;
}

.social a:hover{
  color: black;
}

@media only screen and (min-width: 768px) {
  .infocontainer {
      margin: 7% 2%;
  }
  .infocontainer p {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
 
  .menu {
      margin-top: 2%;
  }

  .infocontainer {
      margin: 5% 2%;
      text-align: center;
  }

  .hello {
      font-size: 50px;
  }

}

@media only screen and (max-width: 768px) {
.navbar {
  padding: 10px;
  font-size: 15px;
}

.navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar nav ul li {
  margin: 10px 0;
  font-size: 15px;
}
.navbar nav ul li a {
text-decoration: none;
color: black;
font-weight: bold;
font-size: 15px;
}
.navbar nav ul li a:hover{
color: orange;
}

}

/* about me tab */
 
  header {
    background-color:black;
    padding: 10px;
  }
  
  .about-section {
    padding: 40px;
  }
  
  .about-section h1 {
    text-align:left;
  }
  
  .info-about img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
 }
  .info-about{
    display: flex;
    align-items: center;
  }

  .aboutme{
   width: 80%;
  font-family: 'Roboto';
   font-size: 17px;
   line-height: 23px;
  }
  .about-section h1{
    color: orange;
  }

  .info-section{
    padding-top:12px;
  }

  .info-section h2{
   text-align: left;
   color: orange;
   font-weight: bolder;
   font-size: 30px;
  }

  .info-details{
     margin-left: 2%; 
     margin-top: 2%; 
  }
  
  .info-details h3{
    font-size: 25px;
  }
 .info-details p{
    font-size: 16px;
 }
 .skillcontainer{
   margin-top: 2%;
 }
 .skillcontainer h3{
  text-align: left;
  color: orange;
  font-weight: bolder;
  font-size: 30px;
 }
 .skills{
    margin-left:2%;
 }
@media only screen and (max-width: 768px) {
    .about-section {
        padding: 20px;
    }

    .info-about {
        flex-direction: column;
        align-items: center;
    }

    .info-about img {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .aboutme {
        width: 100%;
        text-align: center;
    }

    .info-details {
        margin-left: 0;
    }

    .skillcontainer {
        margin-top: 2%;
    }

    .skills {
        margin-left: 0;
    }
}


 /*contact me*/

  .containercontact {
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;    
  }
  .containercontact h1 {
    text-align: center;
    font-size: 60px;
    color: orange;
  }
  
  
  form {
    margin-top: 35px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 3px;
    font-weight: 520;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="phoneno"],
  textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  input[type="submit"]
   {
    background: #212121;
    font-size: large;
    padding: 12px 18px;
    text-decoration: none;
    font-weight:bold;
    color:#fff;
    display: inline-block;
    margin: 20px 0;
    border-radius: 8px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover
   {
    background-color: white;
    color:orange;
    border-style:solid;
    border-color: orange;
  }
 #nosharing{
    font-size: smaller;
    color: blue;
 }

@media only screen and (max-width: 768px) {
    .containercontact {
        padding: 10px;
    }

    .containercontact h1 {
        font-size: 40px;
    }

    input[type="submit"] {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

 /*BLOGSECTION*/

.blog-tab {
  padding: 20px;
  margin-top: 10px;
  margin-left: 6px;
}
.blog-tab h2{
  color: orange;
  margin-left: 12px;
  font-size: 27px;
  font-family: 'Open Sans';
}
.blog-posts {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-post {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
}

.blog-post img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog-content {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.blog-content h3 {
  margin-top: 8px;
}

.blog-content p {
  margin-top: 5px;
}

.read-more {
  margin-top: 3px;
  display: inline-block;
  padding: 8px 16px;
  background-color:black;
  color: #fff;
  text-decoration: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: large;

}

.read-more:hover {
  background-color: white;
  color: orange;
  border-style: solid;
}

@media only screen and (min-width: 768px) {
    .blog-post {
        width: calc(33.33% - 20px);
    }
}

@media only screen and (max-width: 767px) {
  .blog-posts {
    flex-direction: column;
  }

  .blog-post {
    width: 100%;
  }
}

/* WORKS */
#works {
 margin-top: 2%;
 margin-left: 2%;
}

#works h2 {
  font-size: 30px;
  color: orange;
  margin-left: 2%;
  font-family: 'Open Sans';
}

.work-item {
  display: inline-block;
  width: 350px;
  margin: 20px;
}

.work-item img {
  width: 100%;
  height: auto;
}

.work-item h3 {
  font-size: 22px;
  margin-top: 10px;
}

.work-item p {
  margin-top: 12px;
}

.work-item a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  border-radius: 6px;
}

.work-item a:hover {
  background-color: white;
  color: orange;
  border-style: solid;
}

@media only screen and (max-width: 767px) {
  #works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-item {
    width: calc(100% - 40px);
  }
}
